/* Font*/
@font-face {
  font-family: Outfit;
  src: url(https://fonts.google.com/specimen/Outfit);
  font-weight: 400, 700;
}

/*Universal*/
* {
  margin: 0;
  padding: 0;
}

/*Body*/
body {
  display: flex;
  font-size: 15px;
  background: #d6e2f0;
}

/*Container*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  padding: 2em;
  width: 16em;
  height: 24em;
  border-radius: 1em;
  margin: 0;
  padding: 0 1em;
}

/*QR-Code Image*/
.container img {
  width: 100%;
  border-radius: 0.5em;
  margin-bottom: 0em;
}

/*Text*/
.cardTitle {
  color: #1f3251;
  font-weight: 700;
  margin-bottom: -4em;
  text-align: center;
}

.ptext {
  color: #7b879d;
  font-weight: 400;
  text-align: center;
}

/*Attribution*/
.attribution {
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 375px) {
}

@media (min-width: 1440px) {
  /*Attribution*/
  .attribution {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
  }
}
