/* Font*/
@font-face {
  font-family: Outfit;
  src: url(https://fonts.google.com/specimen/Outfit);
  font-weight: 400, 700;
}

/*Universal*/
* {
  margin: 0;
  padding: 0;
}

/*Body*/
body {
  display: flex;
  background: #d6e2f0;
  font-family: Outfit, Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}

/*Container*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  padding: 2em;
  width: 16em;
  height: 28em;
  border-radius: 1em;
  margin: 10em 5em;
  padding: 0.3em 1em 1em 1em;
}

/*QR-Code Image*/
.container img {
  width: 100%;
  border-radius: 0.5em;
  padding-bottom: -1em;
}

/*Text*/
.text-container {
  text-align: center;
  margin: 1em;
}

.cardTitle {
  color: #1f3251;
  font-weight: 700;

  font-size: 18px;
}

.ptext {
  color: #7b879d;
  font-weight: 400;
  font-size: 14px;
}

/*Attribution*/
.attribution {
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#challenge {
  line-height: 2.5em;
}

@media (min-width: 375px) {
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  /*Container*/
  .container {
    margin: 2em 2em 2em 2em;
  }
}

@media (min-width: 1440px) {
  body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  /*Container*/
  .container {
    margin: 10em 2em 2em 2em;
  }
}
